<div class="contact-wrapper">
    <p class="center">CONTACT</p>
    <p class="center">
        NEEM VOOR VRAGEN OF VRIJBLIJVENDE INFORMATIE CONTACT MET MIJ OP!
    </p>

    <input class="contact-input" type="text" placeholder="NAAM" name="name" id="name">

    <input class="contact-input" type="text" placeholder="EMAIL" name="email" id="email">

    <textarea class="contact-input" placeholder="BERICHT"></textarea>

    <button class="btn-primary">SEND</button>
    <div class="clearfix"></div>
</div>

