<div class="contact-wrapper">
    <p class="center">CONTACT</p>
    <p class="center">
        NEEM VOOR VRAGEN OF VRIJBLIJVENDE INFORMATIE CONTACT MET MIJ OP!
    </p>

    <input class="contact-input" type="text" placeholder="NAAM" id="name" [(ngModel)]="name">

    <input class="contact-input" type="email" placeholder="EMAIL" id="email" [(ngModel)]="email">

    <textarea class="contact-input" placeholder="MESSAGE" id="message" [(ngModel)]="message"></textarea>

    <button (click)="submit()" type="submit" class="btn-primary">SEND</button>
    <div class="clearfix"></div>
</div>

