.portfolio-wrapper {
  padding-top: 3em;
  max-width: 850px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: table;
}

.portfolio-item {
  background-color: #fff;
  padding: 0.5em;
  display: inline-block;
  margin: 0.5em;
}

.portfolio-item img {
  object-fit: cover;
  width:250px;
  height:250px
}

.portfolio-item a {

}

@media only screen and (max-width: 360px) {
  .portfolio-item {
    margin: 0.5em 0;
  }
}

/* Modal */

.modal-body img {
  max-width: 100%;
}

.close {
  opacity: 1;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 21px;
  font-weight: 700;
  color: #000;
}

.close:hover {
  color: #b0b0b0;
}

.arrow {
  text-align: center;
  width: 1em;
  font-size: 2em;
  padding: 0 0.5em;
}

.arrow:hover {
  color: #b0b0b0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 768px;
  }
}
