.portfolio-wrapper {
  padding-top: 3em;
  max-width: 850px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: table;
}

.portfolio-item {
  background-color: #fff;
  padding: 0.5em;
  display: inline-block;
  margin: 0.5em;
}

.portfolio-item img {
  object-fit: cover;
  width:250px;
  height:250px
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0;
  background-color: #fff;
}

.modal-body {
  //height: 200px;
  //max-width: 1000px;
  ////max-height: 500px;
  position: fixed;
  margin: 5em;
  width: calc(100% - 10em);
  top: 4em;
  left: 0;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  padding: 1em 0;
  background-color: #fff;
  //overflow: hidden;
}

.modal-body img {
  max-width: 100%;
}

.arrow {
  text-align: center;
  width: 1em;
  font-size: 2em;
  padding: 0 0.5em;
}

.arrow:hover {
  color: #b0b0b0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 360px) {
  .portfolio-item {
    margin: 0.5em 0;
  }
}

@media only screen and (max-width: 750px) {
  .modal-body {
    width: calc(100% - 2em);
    top: 4em;
    left: 0;
    margin: 1em;
  }
}