<div class="portfolio-wrapper">
    <div class="portfolio-item" *ngFor="let image of images; let myIndex = index">
        <a href="#portfolioModal" data-toggle="modal" (click)="setSelectedImage(myIndex + 1)"><img src="assets/img/portfolio/thumbnails/{{image}}"></a>
    </div>
</div>

<div id="portfolioModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <table *ngIf="selectedImageIndex">
                    <tr>
                        <td class="arrow" (click)="previous()">
                            <span *ngIf="selectedImageIndex > 1"><</span>
                        </td>
                        <td>
                            <img src="assets/img/portfolio/{{selectedImage}}">
                        </td>
                        <td class="arrow" (click)="next()">
                            <span *ngIf="selectedImageIndex < images.length">></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>