<div class="upload-wrapper">
    <div class="upload-area" (click)="selectFile()">
        <input multiple type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden />
        <md-icon>cloud_upload</md-icon> <br>
        Drag and drop file or click
    </div>

    <button *ngIf="uploadReady" class="btn-primary" (click)="upload()">
        UPLOAD
    </button>
    <div class="clearfix"></div>

    <div *ngFor="let file of files; let myIndex = index">
        {{file.file.name}}<span *ngIf="file.progress"> - {{file.progress}}%</span>
        <md-progress-bar
                [mode]="getProgressMode(file)"
                [value]="file.progress">
        </md-progress-bar>
    </div>
</div>