@import '../assets/style/variables';

.main-wrapper {
    min-height: 100%;
    position:relative;
}

.nav-wrapper {
    color: #fafafa;
    z-index: 9999;
    padding: 1.5em 1em 0;
    margin-top: 1em;
}

.content-wrapper {
    margin: 1em 1em 0;
    padding: 1.5em 1em;
    background: url("../assets/img/background.jpg") repeat;
    background-size: 500px;
    min-height: calc(100vh - 88px);
}

.copyright-wrapper {
    position: absolute;
    bottom: 0;
    right: 2em;
    color: #fff;

    a {
        color: #fff;
    }

    img {
        width: 1em;
    }
}

.login {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: #fff;
}