<div class="main-wrapper">
  <div class="nav-wrapper">
    <app-nav></app-nav>
  </div>

  <div class="content-wrapper">
    <div class="header-wrapper">
      <router-outlet></router-outlet>
    </div>

    <app-portfolio></app-portfolio>

    <footer>
      <a class="login" onclick="window.scrollTo(0,0);" routerLinkActive="router-link-active" routerLink="admin"><md-icon>lock</md-icon></a>

      <div class="copyright-wrapper">
        <a href="http://www.ellenlangelaar.nl" target="_blank">Ellen Langelaar</a> <img src="assets/img/copyright-symbol-white.png"> 2017
      </div>

    </footer>
  </div>
</div>




