@import '../assets/style/variables';

.main-wrapper {
    min-height: 100%;
    position:relative;
}

.nav-wrapper {
    color: #fafafa;
    z-index: 9999;
    padding: 1.5em 1em;
}

.content-wrapper {
    margin: 1em 1em 0;
    padding: 1.5em 1em;
    background: url("../assets/img/background.jpg") repeat;
    background-size: 1000px;
    min-height: calc(100vh - 88px);
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //background-size: cover;
}

.footer-wrapper {
    background-color: gainsboro;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    padding: 1.5em 1em;
}