.nav-menu-bar {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3em;
}

.nav-menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 334px;
}

.nav-menu-bar li {
    float: left;
    color: #fafafa;
    padding: 0.5em 1em;
}

.nav-menu-bar li a {
    text-decoration: none;
    color: #000;
}

.nav-menu-bar li a:hover {
    color: #646464;
}

@media only screen and (max-width: 440px) {
    .nav-menu-bar {
        padding-right: 0;
    }
}